@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.App {
  background-color: #ffffff;
  height: 100%;
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
label {
  font-weight: 600;
}
